# .env.example
# --- Supabase (PostgreSQL) ---
DATABASE_URL=

# --- Upstash (Redis) ---
REDIS_URL=
REDIS_PREFIX= # Tiền tố logic (ví dụ: stg: hoặc prod:)

# --- JWT (Sẽ dùng sau) ---
JWT_SECRET=

# --- Vận hành ---
NODE_ENV=development
API_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000
FRONTEND_LOGIN_URL=http://localhost:3000/login